<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nothing Page</title>
</head>

<body>

    <table align="center">
        <tr bgcolor="#6699FF">
            <th>Endpoint</th>
            <th>Description</th>
        </tr>
        <tr style="text-align: left">
            <th>/</th>
            <th>This super fancy page</th>
        </tr>
        <tr style="text-align: left">
            <th>/data1</th>
            <th>Get data from corresponding table using SQLAlchemy model</th>
        </tr>
        <tr style="text-align: left">
            <th>/data2</th>
            <th>Get data from corresponding table using SQLAlchemy model</th>
        </tr>
        <tr style="text-align: left">
            <th>/data3</th>
            <th>Get data from corresponding table using SQLAlchemy model</th>
        </tr>
        <tr style="text-align: left">
            <th>/async</th>
            <th>Get data from all tables using asyncio asyncpg</th>
        </tr>
    </table>
</body>

</html>